<script lang="ts">
    import TextInput from "$lib/components/TextInput.svelte";
    import YesNoInput from "$lib/components/BinaryInput.svelte";

</script>
<svelte:head>

</svelte:head>

<div class="container">
    <h1 class="heading">6479 AZTECH Robotics Scouting</h1>
</div>

<style lang="css">
    :global(body, html) {
        margin: 0;
        padding: 0;
    }

    .container {
        display: #2a2b2e;
        flex-direction: column;
        background-color: black;
        text-align: center;
        padding: 1em;
        margin: auto;
        height: 100%;
    }
    .heading {
        color: white;
        font-size: 50px;
    }
</style>