<script lang="ts">

</script>
<svelte:head>

</svelte:head>

<div class="form-container">
    <h1 class="title">Pit Scouting Form</h1>

    <h2 class="subsections-headings">Drivetrain</h2>
    
    <h2 class="subsections-headings">Driver Experince (months)</h2>

    <h2 class="subsections-headings">Possible Autos</h2>

    <h2 class="subsections-headings">Scroing Locations</h2>

    <h2 class="subsections-headings">Max Speed</h2>

    <h2 class="subsections-headings">Images Upload</h2>

    <h2 class="subsections-headings">Robot Weight</h2>

</div>



<style lang="css">
    :global(body, html) {
        margin: 0;
        padding: 0;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #3f3f3f;
        text-align: center;
        padding: 1em;

        
    }

    .subsections-headings {
        color: #c0c0c0;
        font-size: 20px;
    }

    .title {
        color: #c0c0c0;
        padding: 1em;
    }

</style>