<script lang="ts">
	import type { BinaryInputData } from "$lib/Api";

	export let value: boolean = false;
	export let data: BinaryInputData;
	export let callback = () => {};

	$: value = data.value == 'Yes' ? true : false

	function toggle() {
		value = !value;
		data.value = value?'Yes':'No';
		callback();
	}
</script>

<div class ="yesno-input-container">
	<div class="yesno-input-body">
		<button class="{value? 'green': 'red'}" on:click={toggle}>{value? 'Yes': 'No'}</button>
	</div>
</div>

<style>
	.yesno-input-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.yesno-input-body {
		display: flex;
	}

	button {
		margin: auto;
		transition-property: background-color, transform, filter;
		transition-duration: 0.2s, 0.5s, 0.5s;
	}

	.red,
	.green {
		width: 72px;
		height: 72px;
	}

	button {
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		color: black;
		transition: transform, filter, background-color;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		user-select: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: transparent;
		font-size: min(10vw, 2em);
		border-width: 0;
		border-radius: 10px;
		padding: 0;
		filter: drop-shadow(0px 4px 0px #c0c0c0);
		background-color: #dadada;
	}

	@media (hover: hover) {
		button:hover {
			filter: drop-shadow(0px 2px 0px #c0c0c0) brightness(90%);
			transform: translateY(2px);
			cursor:pointer;
		}
	}

	button:active {
		filter: drop-shadow(0px 0px 0px #c0c0c0) brightness(80%);
		transform: translateY(4px);
	}

	button.green {
		background-color: #58D68D;
		filter: drop-shadow(0px 4px 0px #2ECC71);
	}

	@media (hover: hover) {
		button.green:hover {
			filter: drop-shadow(0px 2px 0px #2ECC71) brightness(90%);
		}
	}

	button.green:active {
		filter: drop-shadow(0px 0px 0px #2ECC71) brightness(80%);
	}

	button.red {
		background-color: #E74C3C;
		filter: drop-shadow(0px 4px 0px #CB4335);
	}

	@media (hover: hover) {
		button.red:hover {
			filter: drop-shadow(0px 2px 0px #CB4335) brightness(90%);
		}
	}

	button.red:active {
		filter: drop-shadow(0px 0px 0px #CB4335) brightness(80%);
	}
	
</style>