<script lang="ts">
	import type { CounterInputData } from "$lib/Api";

	export let value: number = 0;
	export let data: CounterInputData;
	export let callback = () => {};

	$: value = data.value || data.default_value || 0;

	let changed = false;

	function changeValue(add: number) {
		if(data.min_value != null && value + add < data.min_value) return;
		else if(data.max_value != null && value + add > data.max_value) return;

		// oh no
		changed = true
		setTimeout(() => changed = false, 250)

		data.value = value + add;
		callback();
	}
</script>

<div class="counter-input-container">
	<div class="counter-input-body">
		<button class="subtract red" on:click="{() => changeValue(-1)}">-</button>
		<div class="center">
			<span class="value" class:changed={changed}>{value}</span>
		</div>
		<button class="add green" on:click="{() => changeValue(1)}">+</button>
	</div>
	<div class="counter-input-footer">
		<button class="reset" on:click="{() => changeValue(-value)}">Reset</button>
	</div>
</div>

<style>
	.counter-input-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.counter-input-body {
		display: flex;
	}

	.counter-input-footer {
		display: flex;
	}

	.center,
	.value {
		margin: auto;
	}

	.center {
		text-align: center;
	}

	.value {
		font-size: 4em;
		transition: transform 0.25s, opacity 0.25s;
		color: #c0c0c0;
	}

	.changed {
		transform: translateY(0.5em);
		opacity: 0;
	}

	.center {
		display: flex;
		flex-direction: column;
	}

	.subtract,
	.add {
		width: min(20vw, 72px);
		height: min(20vw, 72px);
	}

	.reset {
		padding: 0.25em;
		margin: auto;
		font-size: 1.5em;
		padding: 0.5em;
	}

	button {
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		color: black;
		transition: transform, filter, background-color;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		user-select: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: transparent;
		font-size: min(10vw, 2em);
		border-width: 0;
		border-radius: 10px;
		padding: 0;
		filter: drop-shadow(0px 4px 0px #c0c0c0);
		background-color: #dadada;
	}

	@media (hover: hover) {
		button:hover {
			filter: drop-shadow(0px 2px 0px #c0c0c0) brightness(90%);
			transform: translateY(2px);
			cursor:pointer;
		}
	}

	button:active {
		filter: drop-shadow(0px 0px 0px #c0c0c0) brightness(80%);
		transform: translateY(4px);
	}

	button.green {
		background-color: #58D68D;
		filter: drop-shadow(0px 4px 0px #2ECC71);
	}

	@media (hover: hover) {
		button.green:hover {
			filter: drop-shadow(0px 2px 0px #2ECC71) brightness(90%);
		}
	}

	button.green:active {
		filter: drop-shadow(0px 0px 0px #2ECC71) brightness(80%);
	}

	button.red {
		background-color: #E74C3C;
		filter: drop-shadow(0px 4px 0px #CB4335);
	}

	@media (hover: hover) {
		button.red:hover {
			filter: drop-shadow(0px 2px 0px #CB4335) brightness(90%);
		}
	}

	button.red:active {
		filter: drop-shadow(0px 0px 0px #CB4335) brightness(80%);
	}
</style>