<script lang="ts">

</script>
<svelte:head>

</svelte:head>

<div class="login-container">
    <button class="login-button">
        <h2 class="text">Login Here</h2>
    </button>
</div>


<style lang="css">
    :global(body, html) {
        margin: 0;
        padding: 0;
    }

    .login-container {
        display: flex;
        background-color: #3f3f3f;
        text-align: center;
        height: 100%;
    }

    .login-button {
        display: flex;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-right: 0.7em;
        padding-left: 0.7em;
        border-color: #3a3a3a;
        border-width: 10px;
        color: #c0c0c0;
        background-color: #3f3f3f;
        border-radius: 1em;
        margin: auto;

    }


</style>